:root {
    --color-main: #e0e0e0;
    --shadow: 2px 2px black;
    --bg-color: rgba(43, 43, 43, 0.7);
    --bg-color-secondary: rgba(255, 255, 255, 0.7);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}



/* -----GERAL----- 
------------------ */

body {
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    font-family: monospace, Arial;
    color: var(--color-main);
    background-color: var(--bg-color);
}

h1 {
    margin: 0;
}

ul {
    padding: 1rem;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--color-main)
}



/* -----LAYOUT-----
--------------------- */

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    cursor: pointer;
    font-size: 3rem;
}

.grid-item > img {
    min-width: 105%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 100ms ease-in;
    filter: brightness(35%);

    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.grid-item > .title {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    min-width: max-content;
    text-shadow: var(--shadow);
}

.grid-item > .links {
    background-color: var(--bg-color);
    font-size: 1.5rem;
    border-radius: 3%;
    position: absolute;
    max-height: 40%;
    min-width: 30%;
    top: 40%;
    overflow-y: auto;
    display: none;
}



/* -----BOX QUE APARECEM AO CLICK----- 
--------------------------------------*/

.grid-item.selected {
    position: relative;
    justify-content: flex-start;
}

.grid-item.selected > .title { margin-top: 2rem; }

.grid-item.selected > .links { display: block; }



/* -----HOVER EFFECTS----- 
---------------------------*/

.grid-item > .title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    display: block;
    height: 2px;
    background: var(--color-main);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
    box-shadow: var(--shadow);
}

.grid-item:hover > .title::after {
    width: 100%;
    left: 0;
}

.grid-item:hover > img {
    transform: scale(1.1);
    filter: brightness(45%) blur(1px) ;
}



/* -----SCROLLBAR PERSONALIZADA-----
------------------------------------ */

.links::-webkit-scrollbar { width: 5px; }
  
.links::-webkit-scrollbar-track { background: var(--bg-color); }
  
.links::-webkit-scrollbar-thumb { background: var(--color-main); }

.links:hover::-webkit-scrollbar-thumb {background: var(--bg-color-secondary); }



/* -----RESPONSIVIDADE----- 
------------------------------*/

@media all and (max-width: 1460px) { :root { font-size: 14px; } }

@media all and (max-width: 1250px) { :root { font-size: 12px; } }

@media all and (max-width: 1000px) { :root { font-size: 11px; } }

@media all and (max-width: 835px) {
    :root { font-size: 11px; }

    .grid-container { 
      grid-template-columns: 1fr; 
      height: auto;
    }

    .grid-item {
      max-height: 50vh;
    }
}

@media all and (max-width: 510px) { :root { font-size: 9px; } }