

.container {
  border-right: solid 5px grey;
  border-left: solid 5px grey;
}

.header {
  text-align: center;
  font-size: 2.5rem;
  padding: 4px;
  color: rgb(220, 220, 220);
  background-color: grey;
  
}

p {
  text-align: center;
  font-size: 1.25rem;
  font-weight: 250;
}

ul {
  list-style: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 900;
  
}




.footer {
  text-align: end;
  font-size: 0.75rem;
  padding: 8px;
  color: rgb(220, 220, 220);
  background-color: grey;
}