body {
  min-height: 100vh;
  background-color : #ededed; font-family : "Open Sans", sans-serif;
}

h1 {padding: 40px; text-align: center; font-size: 1.5em;}

li a {text-decoration : none; color : #2d2f31;}


nav {
  width : 300px; 
  background: #d9d9d9;
  margin : 40px auto; 
}

span {
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
}

span::after {
  float: right;
  right: 10%;
  content: "+";
}

.slide {
  clear:both;
  width:100%;
  transform: scaleY(0);
  max-height: 0;
  overflow: hidden;
  text-align: center;
  transition: all .5s ease-in;
}

.slide li {
  padding : 30px;
  list-style: none;
}

.touch {position: absolute; opacity: 0; height: 0px;}    

.touch:checked + .slide {
  max-height: 500px;
  transform: scaleY(1);
  padding: 0;
} 

.touch:checked span::after {
  content: '-';
}