body {
	font-family: sans-serif;
}

.tudo {
	justify-content: center;
}

nav {
	margin: auto;
	margin-top: 40px;
	position: relative;
	width: 50vw;
	min-width: 320px;
	height: 200px;
}

nav h2 {
	border-radius: 2px;
	position: relative;
	background: tomato;
	height: 40px;
	text-transform: uppercase;
	color: ivory;
	font-weight: 200;
	display: flex;
	flex: 1;
	justify-content: center;
	align-items: center;
	box-shadow: 4px 4px 20px -2px rgba(0,0,0,.35);
	transition: all 0.4s
}

nav:hover h2 {
	transform: translateY(-10px);
	box-shadow: 0px -1px 2px 0px rgba(0,0,0,.35);
}

input {
	position: absolute;
	left: 0;
	top: 0;
	width: 100vh;
	z-index: 1;
	opacity: 0;
	cursor: pointer;
	height: 40px;
}

#toggle:checked ~ul {
	height: 0%;
}

nav ul {
	padding-left: 0;
  padding-top: 0;
  margin-top: 0;
	list-style: none;
	overflow: hidden;
	text-align: right;
	margin-bottom: 22px;
	text-align: center;
	transition: all .4s ease-out;
	height: 100%;
}
https://escola.stardustcrusaders.repl.co/GuiS/GuiS.html