
body {
  background-image: linear-gradient(to right, white, rgba(246,178,181,0.2), white);
  background-size: 200%;

  animation: gradient-animation linear infinite 3s;
}

@keyframes gradient-animation {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

.title {
  font-weight: 600;
  font-size: calc(1.375rem + 3vw);
  margin-bottom: 3rem;
}

@media only screen and (min-width: 1200px) {
  .title {
    font-size: 3rem
  }
}